@font-face {
  font-family: "iconfont"; /* Project id 2703805 */
  src: url('iconfont.woff2?t=1627625283222') format('woff2'),
       url('iconfont.woff?t=1627625283222') format('woff'),
       url('iconfont.ttf?t=1627625283222') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Grid:before {
  content: "\e6c2";
}

.icon-xiazai:before {
  content: "\e794";
}

.icon-liucheng:before {
  content: "\e6b4";
}

.icon-gridfangge:before {
  content: "\e6e0";
}

.icon-a-Group481:before {
  content: "\e611";
}

.icon-a-Group481-copy-copy:before {
  content: "\e796";
}

.icon-a-Group481-copy:before {
  content: "\e795";
}

.icon-biyan:before {
  content: "\e6ba";
}

.icon-zhengyan:before {
  content: "\e610";
}

